* {
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	box-sizing: border-box;
}

html {
	height: 100%;
	scroll-behavior: smooth;
	background: url('../images/bg.jpg') no-repeat center;
	background-size: cover;
}

body, html {
	min-height: 100%;
	width: 100%;
}

body {
	background-color: rgba(229, 204, 255, .5);
	font: 300 16px $text;
}

.wrapper {
	padding-top: 30px;
	
	&__marker {
		background: rgba(255, 255, 255, .6);
    	padding: 30px 3%;
    	border-radius: 15px;
	}
}